<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bigtest.dao.PurchaseListMapper">

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.example.bigtest.entity.PurchaseList">
    select 
    purchaseId, contractId, contractItemId, inTime,realGoodsNum
    from purchaselist
    where purchaseId = #{purchaseid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchaselist
    where purchaseId = #{purchaseid}
  </delete>
  <insert id="insertByOrder" parameterType="com.example.bigtest.pojo.vto.GetPurchaseList">
    insert into purchaselist (purchaseId,  contractId,
      contractItemId, inTime,realGoodsNum )
    values (#{purchaseid},#{contractid},
      #{contractitemid}, #{intime},#{realgoodsnum})
  </insert>

  <insert id="insert" parameterType="com.example.bigtest.entity.PurchaseList">
    insert into purchaselist (purchaseId,  contractId,
      contractItemId, inTime,realGoodsNum )
    values (#{purchaseid},#{contractid},
      #{contractitemid}, #{intime},#{realgoodsnum})
  </insert>

  <select id="select" resultType="com.example.bigtest.entity.PurchaseList">
     select  * from purchaselist
  </select>

  <update id="updateByPrimaryKey" parameterType="com.example.bigtest.entity.PurchaseList">
    update purchaselist
    set
      contractId = #{contractid},
      contractItemId = #{contractitemid},
      inTime = #{intime},
       realGoodsNum=#{realgoodsnum}
    where purchaseId = #{purchaseid}
  </update>
  
</mapper>