<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.Dao.ContractInformMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.ContractInform">
    <id column="contractId" jdbcType="VARCHAR" property="contractid" />
    <result column="customerId" jdbcType="VARCHAR" property="customerid" />
    <result column="customerName" jdbcType="VARCHAR" property="customername" />
    <result column="salerId" jdbcType="VARCHAR" property="salerid" />
    <result column="contractName" jdbcType="VARCHAR" property="contractname" />
    <result column="contractCreateTime" jdbcType="DATE" property="contractcreatetime" />
    <result column="contractStartTime" jdbcType="DATE" property="contractstarttime" />
    <result column="contractEndTime" jdbcType="DATE" property="contractendtime" />
    <result column="constractStatus" jdbcType="VARCHAR" property="constractstatus" />
    <result column="contractRemark" jdbcType="VARCHAR" property="contractremark" />
  </resultMap>
  <sql id="Base_Column_List">
    contractId, customerId, customerName, salerId, contractName, contractCreateTime, 
    contractStartTime, contractEndTime, constractStatus, contractRemark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contractinform
    where contractId = #{contractid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contractinform
    where contractId = #{contractid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.test.entity.ContractInform">
    insert into contractinform (contractId, customerId, customerName, 
      salerId, contractName, contractCreateTime, 
      contractStartTime, contractEndTime, constractStatus, 
      contractRemark)
    values (#{contractid,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, 
      #{salerid,jdbcType=VARCHAR}, #{contractname,jdbcType=VARCHAR}, #{contractcreatetime,jdbcType=DATE}, 
      #{contractstarttime,jdbcType=DATE}, #{contractendtime,jdbcType=DATE}, #{constractstatus,jdbcType=VARCHAR}, 
      #{contractremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.ContractInform">
    insert into contractinform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        contractId,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
      <if test="customername != null">
        customerName,
      </if>
      <if test="salerid != null">
        salerId,
      </if>
      <if test="contractname != null">
        contractName,
      </if>
      <if test="contractcreatetime != null">
        contractCreateTime,
      </if>
      <if test="contractstarttime != null">
        contractStartTime,
      </if>
      <if test="contractendtime != null">
        contractEndTime,
      </if>
      <if test="constractstatus != null">
        constractStatus,
      </if>
      <if test="contractremark != null">
        contractRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        #{contractid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null">
        #{salerid,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null">
        #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contractcreatetime != null">
        #{contractcreatetime,jdbcType=DATE},
      </if>
      <if test="contractstarttime != null">
        #{contractstarttime,jdbcType=DATE},
      </if>
      <if test="contractendtime != null">
        #{contractendtime,jdbcType=DATE},
      </if>
      <if test="constractstatus != null">
        #{constractstatus,jdbcType=VARCHAR},
      </if>
      <if test="contractremark != null">
        #{contractremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.ContractInform">
    update contractinform
    <set>
      <if test="customerid != null">
        customerId = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customername != null">
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null">
        salerId = #{salerid,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null">
        contractName = #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contractcreatetime != null">
        contractCreateTime = #{contractcreatetime,jdbcType=DATE},
      </if>
      <if test="contractstarttime != null">
        contractStartTime = #{contractstarttime,jdbcType=DATE},
      </if>
      <if test="contractendtime != null">
        contractEndTime = #{contractendtime,jdbcType=DATE},
      </if>
      <if test="constractstatus != null">
        constractStatus = #{constractstatus,jdbcType=VARCHAR},
      </if>
      <if test="contractremark != null">
        contractRemark = #{contractremark,jdbcType=VARCHAR},
      </if>
    </set>
    where contractId = #{contractid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.ContractInform">
    update contractinform
    set customerId = #{customerid,jdbcType=VARCHAR},
      customerName = #{customername,jdbcType=VARCHAR},
      salerId = #{salerid,jdbcType=VARCHAR},
      contractName = #{contractname,jdbcType=VARCHAR},
      contractCreateTime = #{contractcreatetime,jdbcType=DATE},
      contractStartTime = #{contractstarttime,jdbcType=DATE},
      contractEndTime = #{contractendtime,jdbcType=DATE},
      constractStatus = #{constractstatus,jdbcType=VARCHAR},
      contractRemark = #{contractremark,jdbcType=VARCHAR}
    where contractId = #{contractid,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.test.entity.ContractInform">
    <id column="contractId" jdbcType="VARCHAR" property="contractid" />
    <result column="customerId" jdbcType="VARCHAR" property="customerid" />
    <result column="customerName" jdbcType="VARCHAR" property="customername" />
    <result column="salerId" jdbcType="VARCHAR" property="salerid" />
    <result column="contractName" jdbcType="VARCHAR" property="contractname" />
    <result column="contractCreateTime" jdbcType="DATE" property="contractcreatetime" />
    <result column="contractStartTime" jdbcType="DATE" property="contractstarttime" />
    <result column="contractEndTime" jdbcType="DATE" property="contractendtime" />
    <result column="constractStatus" jdbcType="VARCHAR" property="constractstatus" />
    <result column="contractRemark" jdbcType="VARCHAR" property="contractremark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    contractId, customerId, customerName, salerId, contractName, contractCreateTime, 
    contractStartTime, contractEndTime, constractStatus, contractRemark
  </sql>
  <select id="selectByExample" parameterType="com.test.entity.ContractInformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from contractinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contractinform
    where contractId = #{contractid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from contractinform
    where contractId = #{contractid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.entity.ContractInformExample">
    delete from contractinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.entity.ContractInform">
    insert into contractinform (contractId, customerId, customerName, 
      salerId, contractName, contractCreateTime, 
      contractStartTime, contractEndTime, constractStatus, 
      contractRemark)
    values (#{contractid,jdbcType=VARCHAR}, #{customerid,jdbcType=VARCHAR}, #{customername,jdbcType=VARCHAR}, 
      #{salerid,jdbcType=VARCHAR}, #{contractname,jdbcType=VARCHAR}, #{contractcreatetime,jdbcType=DATE}, 
      #{contractstarttime,jdbcType=DATE}, #{contractendtime,jdbcType=DATE}, #{constractstatus,jdbcType=VARCHAR}, 
      #{contractremark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.ContractInform">
    insert into contractinform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        contractId,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
      <if test="customername != null">
        customerName,
      </if>
      <if test="salerid != null">
        salerId,
      </if>
      <if test="contractname != null">
        contractName,
      </if>
      <if test="contractcreatetime != null">
        contractCreateTime,
      </if>
      <if test="contractstarttime != null">
        contractStartTime,
      </if>
      <if test="contractendtime != null">
        contractEndTime,
      </if>
      <if test="constractstatus != null">
        constractStatus,
      </if>
      <if test="contractremark != null">
        contractRemark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="contractid != null">
        #{contractid,jdbcType=VARCHAR},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customername != null">
        #{customername,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null">
        #{salerid,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null">
        #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contractcreatetime != null">
        #{contractcreatetime,jdbcType=DATE},
      </if>
      <if test="contractstarttime != null">
        #{contractstarttime,jdbcType=DATE},
      </if>
      <if test="contractendtime != null">
        #{contractendtime,jdbcType=DATE},
      </if>
      <if test="constractstatus != null">
        #{constractstatus,jdbcType=VARCHAR},
      </if>
      <if test="contractremark != null">
        #{contractremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.entity.ContractInformExample" resultType="java.lang.Long">
    select count(*) from contractinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update contractinform
    <set>
      <if test="record.contractid != null">
        contractId = #{record.contractid,jdbcType=VARCHAR},
      </if>
      <if test="record.customerid != null">
        customerId = #{record.customerid,jdbcType=VARCHAR},
      </if>
      <if test="record.customername != null">
        customerName = #{record.customername,jdbcType=VARCHAR},
      </if>
      <if test="record.salerid != null">
        salerId = #{record.salerid,jdbcType=VARCHAR},
      </if>
      <if test="record.contractname != null">
        contractName = #{record.contractname,jdbcType=VARCHAR},
      </if>
      <if test="record.contractcreatetime != null">
        contractCreateTime = #{record.contractcreatetime,jdbcType=DATE},
      </if>
      <if test="record.contractstarttime != null">
        contractStartTime = #{record.contractstarttime,jdbcType=DATE},
      </if>
      <if test="record.contractendtime != null">
        contractEndTime = #{record.contractendtime,jdbcType=DATE},
      </if>
      <if test="record.constractstatus != null">
        constractStatus = #{record.constractstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.contractremark != null">
        contractRemark = #{record.contractremark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update contractinform
    set contractId = #{record.contractid,jdbcType=VARCHAR},
      customerId = #{record.customerid,jdbcType=VARCHAR},
      customerName = #{record.customername,jdbcType=VARCHAR},
      salerId = #{record.salerid,jdbcType=VARCHAR},
      contractName = #{record.contractname,jdbcType=VARCHAR},
      contractCreateTime = #{record.contractcreatetime,jdbcType=DATE},
      contractStartTime = #{record.contractstarttime,jdbcType=DATE},
      contractEndTime = #{record.contractendtime,jdbcType=DATE},
      constractStatus = #{record.constractstatus,jdbcType=VARCHAR},
      contractRemark = #{record.contractremark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.entity.ContractInform">
    update contractinform
    <set>
      <if test="customerid != null">
        customerId = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="customername != null">
        customerName = #{customername,jdbcType=VARCHAR},
      </if>
      <if test="salerid != null">
        salerId = #{salerid,jdbcType=VARCHAR},
      </if>
      <if test="contractname != null">
        contractName = #{contractname,jdbcType=VARCHAR},
      </if>
      <if test="contractcreatetime != null">
        contractCreateTime = #{contractcreatetime,jdbcType=DATE},
      </if>
      <if test="contractstarttime != null">
        contractStartTime = #{contractstarttime,jdbcType=DATE},
      </if>
      <if test="contractendtime != null">
        contractEndTime = #{contractendtime,jdbcType=DATE},
      </if>
      <if test="constractstatus != null">
        constractStatus = #{constractstatus,jdbcType=VARCHAR},
      </if>
      <if test="contractremark != null">
        contractRemark = #{contractremark,jdbcType=VARCHAR},
      </if>
    </set>
    where contractId = #{contractid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.entity.ContractInform">
    update contractinform
    set customerId = #{customerid,jdbcType=VARCHAR},
      customerName = #{customername,jdbcType=VARCHAR},
      salerId = #{salerid,jdbcType=VARCHAR},
      contractName = #{contractname,jdbcType=VARCHAR},
      contractCreateTime = #{contractcreatetime,jdbcType=DATE},
      contractStartTime = #{contractstarttime,jdbcType=DATE},
      contractEndTime = #{contractendtime,jdbcType=DATE},
      constractStatus = #{constractstatus,jdbcType=VARCHAR},
      contractRemark = #{contractremark,jdbcType=VARCHAR}
    where contractId = #{contractid,jdbcType=VARCHAR}
  </update>
</mapper>