<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.Dao.logisticInformMapper">
  <resultMap id="BaseResultMap" type="com.test.entity.logisticInformKey">
    <id column="logisticId" jdbcType="VARCHAR" property="logisticid" />
    <id column="currentPostion" jdbcType="VARCHAR" property="currentpostion" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.test.entity.logisticInformKey">
    delete from logisticinform
    where logisticId = #{logisticid,jdbcType=VARCHAR}
      and currentPostion = #{currentpostion,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.test.entity.logisticInformKey">
    insert into logisticinform (logisticId, currentPostion)
    values (#{logisticid,jdbcType=VARCHAR}, #{currentpostion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.logisticInformKey">
    insert into logisticinform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logisticid != null">
        logisticId,
      </if>
      <if test="currentpostion != null">
        currentPostion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logisticid != null">
        #{logisticid,jdbcType=VARCHAR},
      </if>
      <if test="currentpostion != null">
        #{currentpostion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.test.entity.logisticInformKey">
    <id column="logisticId" jdbcType="VARCHAR" property="logisticid" />
    <id column="currentPostion" jdbcType="VARCHAR" property="currentpostion" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    logisticId, currentPostion
  </sql>
  <select id="selectByExample" parameterType="com.test.entity.logisticInformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from logisticinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.test.entity.logisticInformKey">
    delete from logisticinform
    where logisticId = #{logisticid,jdbcType=VARCHAR}
      and currentPostion = #{currentpostion,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.entity.logisticInformExample">
    delete from logisticinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.entity.logisticInformKey">
    insert into logisticinform (logisticId, currentPostion)
    values (#{logisticid,jdbcType=VARCHAR}, #{currentpostion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.test.entity.logisticInformKey">
    insert into logisticinform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logisticid != null">
        logisticId,
      </if>
      <if test="currentpostion != null">
        currentPostion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logisticid != null">
        #{logisticid,jdbcType=VARCHAR},
      </if>
      <if test="currentpostion != null">
        #{currentpostion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.entity.logisticInformExample" resultType="java.lang.Long">
    select count(*) from logisticinform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update logisticinform
    <set>
      <if test="record.logisticid != null">
        logisticId = #{record.logisticid,jdbcType=VARCHAR},
      </if>
      <if test="record.currentpostion != null">
        currentPostion = #{record.currentpostion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update logisticinform
    set logisticId = #{record.logisticid,jdbcType=VARCHAR},
      currentPostion = #{record.currentpostion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>