.el-header {
    color: #333;
    text-align: center;
}

.el-aside {
    background: #2f74db;
    color: white;
    text-align: left;
}

.el-main {
    color: #333;
    text-align: left;
    height: 630px;
    padding: 0px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

a {
    text-decoration: none;
}

.yy-avatar {
    border-radius: 50%;
    margin: 20px;
    height: 90px;
    width: 90px;
}